<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title></title>
</head>
<body>
    <!-- 导航栏 -->
	<nav class="nav">
		<div>
		    <div class="logo"><a href="">小乐博客</a></div>
		    <div class="nav-btn">
		    	<span></span>
		    	<span></span>
		    	<span></span>
		    </div>
			<ul>
				<li class="blog"><a href="/blog">博客</a></li>
				<li class="liuyan"><a href="/liuyan">留言板</a></li>
				<li class="link"><a href="/link">友链</a></li>
			</ul>
		</div>
	</nav>
	<!-- blog主内容 -->
	<div class="content">
	    <!-- 页面切换 盒子 -->
		<div class="page">
		    <div class="page_index">
		    	<section class="index_banner">
		    		<div class="index_banner_row">
		    			<h1>小乐的个人博客</h1>
		    			<a href="/blog" class="index_banner_button">进入博客</a>
		    		</div>
		    	</section>
		    	<div class="index_banner_height"></div>
		    	<section class="index_blogInfo">
			    	<div class="index_blogInfo_row">
			    		<div class="index_blogInfo_nodeImg"></div>
		    			<p>nodejs & mongodb</p>
		    			<p>强力驱动</p>
			    	</div>
		    	</section>
		    	<section class="index_aboutMe">
		    		<h2>关于小乐 & 小乐博客</h2>
		    		<p>小乐，90后狮子男，一个web前端开发的小菜鸟</p>
		    		<p>小乐博客建立于 2017 年 1 月份，用来记录小乐个人在学习过程中的经验和日常的点滴。</p>
		    		<p>喜欢敲代码的感觉，敲出来的程序，很有成就感</p>
		    	</section>
		    	<section class="index_link"></section>
		    </div>
		</div>
	</div>
	<div class="tool">
		<a href="javascript:;" class="tool-ding">
			<span></span>
		</a>
	</div>
	<footer>
		<div class="footer">
			<div class="blogInfo">
				<h3>小乐博客</h3>
				<p>小乐博客是一个记录个人点滴，分享学习经验的个人博客。不是大神，也不NB。</p>
			</div>
			<div class="linkInfo">
				<h3>有情链接</h3>
				<ul>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
				</ul>
			</div>
			<div class="myInfo">
				<h3>关于小乐</h3>
				<div></div>
			</div>
		</div>
		<div id="clear" class="beia">
		     <div>备案</div>
		</div>
	</footer>
	<div class="background"></div>
<div id="temp"></div>
</body>
</html>