<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title></title>
</head>
<body>
    <!-- 导航栏 -->
	<nav class="nav">
		<div>
		    <div class="logo"><a href="">小乐博客</a></div>
		    <div class="nav-btn">
		    	<span></span>
		    	<span></span>
		    	<span></span>
		    </div>
			<ul>
				<li class="blog"><a href="/blog">博客</a></li>
				<li class="liuyan"><a href="/liuyan">留言板</a></li>
				<li class="link"><a href="/link">友链</a></li>
			</ul>
		</div>
	</nav>
	<!-- blog主内容 -->
	<div class="content">
	    <!-- 页面切换 盒子 -->
		<div class="page">
		     <!-- 友情链接页 -->
		    <div class="link">
		    	<div class="link-header">
		    		<h3>友情链接</h3>
		    		<p class="link-btn"><a href="javascript:;" class="link-up">我要上榜</a></p>
		    	</div>
		    	<div class="link-body">
		    		<div class="link-list">
		    			<ul class="link-list link-list-ul">
		    				<li>
		    				    <div class="link-animation">
		    				    	<div class="link-cont">
		    				    	    <a href="">
		    				    	    	<h3>
				    							<img src="" alt="">
				    							<span>小乐博客</span>
				    						</h3>
			    							<p>小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个</p>
		    				    	    </a>
			    					</div>
			    					<!-- <div class="link-cont-1">
			    									    					<a href="">
			    									    						<img src="" alt="">
			    									    						<h3 class="link-cont-name">
			    									    							小乐博客
			    									    						</h3>
			    									    						<p class="link-cont-url">aixaole.com</p>
			    									    					</a>
			    					</div> -->
		    				    </div>
		    				</li>
		    				<li>
		    				    <div class="link-animation">
		    				    	<div class="link-cont">
		    				    	    <a href="">
		    				    	    	<h3>
				    							<img src="" alt="">
				    							<span>小乐博客</span>
				    						</h3>
			    							<p>小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个</p>
		    				    	    </a>
			    					</div>
			    					<!-- <div class="link-cont-1">
			    									    					<a href="">
			    									    						<img src="" alt="">
			    									    						<h3 class="link-cont-name">
			    									    							小乐博客
			    									    						</h3>
			    									    						<p class="link-cont-url">aixaole.com</p>
			    									    					</a>
			    					</div> -->
		    				    </div>
		    				</li>
		    				<li>
		    				    <div class="link-animation">
		    				    	<div class="link-cont">
		    				    	    <a href="">
		    				    	    	<h3>
				    							<img src="" alt="">
				    							<span>小乐博客</span>
				    						</h3>
			    							<p>小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个小乐博客是一个</p>
		    				    	    </a>
			    					</div>
			    					<!-- <div class="link-cont-1">
			    									    					<a href="">
			    									    						<img src="" alt="">
			    									    						<h3 class="link-cont-name">
			    									    							小乐博客
			    									    						</h3>
			    									    						<p class="link-cont-url">aixaole.com</p>
			    									    					</a>
			    					</div> -->
		    				    </div>
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="tool">
		<a href="javascript:;" class="tool-ding">
			<span></span>
		</a>
	</div>
	<footer>
		<div class="footer">
			<div class="blogInfo">
				<h3>小乐博客</h3>
				<p>小乐博客是一个记录个人点滴，分享学习经验的个人博客。不是大神，也不NB。</p>
			</div>
			<div class="linkInfo">
				<h3>有情链接</h3>
				<ul>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
				</ul>
			</div>
			<div class="myInfo">
				<h3>关于小乐</h3>
				<div></div>
			</div>
		</div>
		<div id="clear" class="beia">
		     <div>备案</div>
		</div>
	</footer>
	<div class="background"></div>
	<div id="temp"></div>
</body>
</html>