<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title></title>
</head>
<body class="app">
    <!-- 导航栏 -->
	<nav class="nav">
		<div>
		    <div class="logo"><a href="">小乐博客</a></div>
		    <div class="nav-btn">
		    	<span></span>
		    	<span></span>
		    	<span></span>
		    </div>
			<ul>
				<li><a href="/blog" class="nav_item">博客</a></li>
				<li><a href="/liuyan" class="nav_item">留言板</a></li>
				<li><a href="/link" class="nav_item">友链</a></li>
			</ul>
		</div>
	</nav>
	<!-- blog主内容 -->
	<div class="content">
	    <!-- 页面切换 盒子 -->
		<div class="page">
		    <!--  留言页内容 -->
			<div class="liuyan">
			    <!-- 留言也头部 -->
				<div class="lyHeader">
					<div class="lyDv">
						<div class="lytoux">
							<div class="img"><img class="lySetTx" src="" alt=""></div>
							<a href="javascript:;" class="lyName">设置名称</a>
						</div>
						<div class="lyText">
							<textarea class="lyValue" name="lyCont"></textarea>
						</div>
						<div class="lyFooter">
							<div class="lyFooterLeft">
								<div class="e-icon"><span></span></div>
								<!-- <div class="emojis">
									<ul>
										<li title="微笑"><span class="emoji smile"></span></li>
										<li title="皱眉"><span class="emoji frown"></span></li>
										<li title="吐舌头"><span class="emoji tongue"></span></li>
										<li title="鬼脸"><span class="emoji grimace"></span></li>
										<li title="难过"><span class="emoji sorry"></span></li>
										<li title="斜眼看"><span class="emoji leeringly"></span></li>
										<li title="大笑"><span class="emoji Laugh"></span></li>
										<li title="眩晕"><span class="emoji vertigo"></span></li>
										<li title="发怒"><span class="emoji anger"></span></li>
										<li title="哭"><span class="emoji cry"></span></li>
										<li title="大哭"><span class="emoji crying"></span></li>
										<li title="流泪"><span class="emoji tears"></span></li>
										<li title="看岔眼"><span class="emoji cross"></span></li>
										<li title="色眯眯"><span class="emoji mimi"></span></li>
										<li title="脏"><span class="emoji dirty"></span></li>
										<li title="惊讶"><span class="emoji surprise"></span></li>
										<li title="闭嘴"><span class="emoji shutup"></span></li>
										<li title="受伤"><span class="emoji injured"></span></li>
										<li title="右哼哼"><span class="emoji righthum"></span></li>
										<li title="酷"><span class="emoji cool"></span></li>
										<li title="吊炸天"><span class="emoji fried"></span></li>
										<li title="呛水"><span class="emoji suffer"></span></li>
										<li title="可怜"><span class="emoji poor"></span></li>
										<li title="帅"><span class="emoji handsome"></span></li>
									</ul>
								</div> -->
							</div>
							<div class="lyFooterRight">
								<a class="ly-submit" href="javascript:;">发布</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 留言页内容 -->
				<div class="lyContent">
				    <!--  -->
					<div class="lyContDv">
					    <!-- 时光轴 -->
						<div class="lyContLeft">
							<div class="lyContLine"></div>
							<div class="lyContLists">
							    <!-- <div class="lyContList">
							    	<div class="lyContInfo">我来了</div>
							    									<div class="lyContAuthor">
							    										<img src="" alt="">
							    										<a href="javascript:;" class="ly-author"></a>
							    									</div>
							    									<div class="lyContTime">
							    										<div class="time">2015 10.15</div>
							    										<a href="javascript:;" class="lyContReq">回复</a>
							    									</div>
							    									<div class="lyContJ"></div>
							    </div>
							    <div class="lyContList">
							    	<div class="lyContInfo">我来了</div>
							    									<div class="lyContAuthor">
							    										<img src="" alt="">
							    									</div>
							    									<div class="lyContTime">
							    										<div class="time">2015 10.15</div>
							    										<a href="javascript:;" class="lyContReq">回复</a>
							    									</div>
							    									<div class="lyContJ"></div>
							    </div>
							    <div class="lyContList">
							    	<div class="lyContInfo">我来了</div>
							    									<div class="lyContAuthor">
							    										<img src="" alt="">
							    									</div>
							    									<div class="lyContTime">
							    										<div class="time">2015 10.15</div>
							    										<a href="javascript:;" class="lyContReq">回复</a>
							    									</div>
							    									<div class="lyContJ"></div>
							    </div>
							    <div class="lyContList">
							    	<div class="lyContInfo">我来了</div>
							    									<div class="lyContAuthor">
							    										<img src="" alt="">
							    									</div>
							    									<div class="lyContTime">
							    										<div class="time">2015 10.15</div>
							    										<a href="javascript:;" class="lyContReq">回复</a>
							    									</div>
							    									<div class="lyContJ"></div>
							    </div> -->
								
							</div>
						</div>
                        <div class="lyContRight">
                        	<div class="weibo">
                        		<div class="wbHead"></div>
                        		<div class="wbBody">
                        			<div class="wbLogo">
                        				<img src="" alt="">
                        			</div>
                        			<h3>小乐博客</h3>
                        			<p>小乐博客官方微博</p>
                        			<a href="">关注</a>
                        		</div>
                        		<div class="wbCount">
                        			<div>
                        			    <strong>11</strong>
                        				<span>关注</span>
                        			</div>
                        			<div>
                        			    <strong>11</strong>
                        				<span>关注</span>
                        			</div>
                        			<div>
                        			    <strong>11</strong>
                        				<span>关注</span>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="lyNew">
                        		<h3>最新评论</h3>
                        		<ul class="lyNewlist">
                        			<li>
                        				<a href="" class="lyClick">
                        					<div class="lyContHead">
                        						<img src="" alt="">
                        					</div>
                        					<div class="lyCont">
                        						<h4>小乐<span>20150252</span></h4>
                        						<p>
@国外噩梦 哈哈，实在是过奖了，个人感觉自己的设计交互应该也只能算一般般吧 </p>
                        					</div>
                        				</a>
                        			</li>
                        			<li>
                        				<a href="" class="lyClick">
                        					<div class="lyContHead">
                        						<img src="" alt="">
                        					</div>
                        					<div class="lyCont">
                        						<h4>小乐<span>20150252</span></h4>
                        						<p>
@国外噩梦 哈哈，实在是过奖了，个人感觉自己的设计交互应该也只能算一般般吧 </p>
                        					</div>
                        				</a>
                        			</li>
                        			<li>
                        				<a href="" class="lyClick">
                        					<div class="lyContHead">
                        						<img src="" alt="">
                        					</div>
                        					<div class="lyCont">
                        						<h4>小乐<span>20150252</span></h4>
                        						<p>
@国外噩梦 哈哈，实在是过奖了，个人感觉自己的设计交互应该也只能算一般般吧 </p>
                        					</div>
                        				</a>
                        			</li>
                        			
                        		</ul>
                        	</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tool">
		<a href="javascript:;" class="tool-ding">
			<span></span>
		</a>
	</div>
	<footer>
		<div class="footer">
			<div class="blogInfo">
				<h3>小乐博客</h3>
				<p>小乐博客是一个记录个人点滴，分享学习经验的个人博客。不是大神，也不NB。</p>
			</div>
			<div class="linkInfo">
				<h3>有情链接</h3>
				<ul>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
				</ul>
			</div>
			<div class="myInfo">
				<h3>关于小乐</h3>
				<div></div>
			</div>
		</div>
		<div id="clear" class="beia">
		     <div>备案</div>
		</div>
	</footer>
	<div class="background"></div>
	<div id="temp"></div>
</body>
</html>