<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="keywords" content="#{keywords}"/>
    <meta name="description" content="#{description}"/>
	<title>#{title}</title>
</head>
<body class="app">
    <!-- 导航栏 -->
	<nav class="nav">
		<div>
		    <div class="logo"><a href="/">小乐博客</a></div>
		    <div class="nav-btn">
		    	<span></span>
		    	<span></span>
		    	<span></span>
		    </div>
			<ul>
				<li><a href="/blog" class="nav_item">博客</a></li>
				<li><a href="/liuyan" class="nav_item">留言板</a></li>
				<li><a href="/link" class="nav_item">友链</a></li>
			</ul>
		</div>
	</nav>
	<!-- blog主内容 -->
	<div class="content">
	    <!-- 页面切换 盒子 -->
		<div class="page">

		</div>
	</div>
	<div class="tool">
		<a href="javascript:;" class="tool-ding">
			<span></span>
		</a>
	</div>
	<footer>
		<div class="footer">
			<div class="blogInfo">
				<h3>小乐博客</h3>
				<p>小乐博客是一个记录个人点滴，分享学习经验的个人博客。</p>
			</div>
			<!-- <div class="linkInfo">
				<h3>有情链接</h3>
				<ul>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
					<li><a href="">小乐博客</a></li>
				</ul>
			</div> -->
			<div class="myInfo">
				<h3>关于小乐</h3>
				<div></div>
			</div>
		</div>
		<div id="clear" class="beia">
		     <div><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16059395号-4</a></div>
		</div>
	</footer>
	<div class="pop">
		<div class="background"></div>	
	</div>
	<div id="htmlcode"></div>
</body>
</html>
