<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
	<title>#{title}</title>
</head>
<body>
<div class="header container-fluid">
    <div class="header_menu">
    	
    </div>
</div>
<div class="container-fluid">
    <div class="content">
	    <div class="content_left col-lg-2">
			<div class="logo">小乐博客后台管理</div>
			<div class="content_left_menu">
				<ul>
				    <li class="content_left_Fmenu">
						<a href="/admin">首页</a>
					</li>
					<li class="content_left_Fmenu">
						<div>文章管理</div>
						<ul>
							<li><a href="/admin/article/add">文章发布</a></li>
							<li><a href="/admin/article/all">全部文章</a></li>
							<li><a href="/admin/article/category">文章分类</a></li>
						</ul>
					</li>
					<li class="content_left_Fmenu">
						<div>留言管理</div>
						<ul>
							<li><a href="/admin/liuyan/all">全部留言</a></li>
	
						</ul>
					</li>
					<li class="content_left_Fmenu">
						<div>友链管理</div>
						<ul>
							<li><a href="/admin/link/dsh">待审核友链</a></li>
							<li><a href="/admin/link/add">添加友链</a></li>
							<li><a href="/admin/link/all">全部友链</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>	
    </div>
	
	<div class="content_right col-lg-10 table-responsive">
	    <table class="table table-hover">
	        <thead align="center">
	        	<tr>
	        	    <td>id</td>
	        		<td>文章标题</td>
	        		<td>文章描述</td>
	        		<td>发布时间</td>
	        		<td>文章操作</td>
	        	</tr>
	        </thead>
		    <tbody  align="center">
   			    {#each list as v,k}
   			        <tr data-id=#{v._id}>
	   			        <td>#{Number(k)+1}</td>
		        		<td>#{v.title}</td>
		        		<td>#{v.description}</td>
		        		<!-- <td>
		        		    {@each v.tag as tag}
		        			<span>#{tag}</span>
		        		    {@/each}
		        		</td> -->
		        		<td>#{v.time}</td>
		        		<td>
		        			<a href="/admin/article/update?id=#{v._id}&cid=#{v.content_id}" class="update">修改</a>
		        			<a href="/admin/article/del?id=#{v._id}" onclick="return confirm('确认删除吗')">删除</a>
		        		</td>
	        		</tr>
   			    {#/each}
		    </tbody>
		</table>
		<div>
			<ul class="pagination">
				##{pageTemp}
			</ul>
		</div>		
	</div>
</div>
<div class="footer"></div>	
<script>
/*	document.getElementsByClassName("table")[0].addEventListener("click",function(e){
		if(e.target.className == "update"){
			var data = e.target.parentNode.parentNode;
			var td = data.getElementsByTagName("td");
			var content = data.getAttribute("data-content");
			var tag = data.getAttribute("data-tag");
			var title = td[1];
			var description = td[2];
		}

	})*/
</script>
</body>
</html>
